html{
    /* font-family: "Roboto", Verdana, Serif; */
    font-family: 'Playfair Display';
    scroll-behavior: smooth;
}
body{
    display: block;
    position: absolute;
    width: 100%;
    height: 3883px;
    background: #3C2727;
    margin-top: 0;
    margin-left: 0;
}
h2, p, .smallText{
    color: #D0B6B6;
    /* border: 1px solid #000000; */
}

h2{
    font-size: 96px;
}
p{
    font-size: 64px;
}
.upper_menu{
    position: fixed;
    display: flex;
    top: 0px;
    height: 193px;
    background: linear-gradient(180deg, #DE0000 0%, rgba(141, 0, 0, 0.635417) 54.17%, rgba(0, 0, 0, 0) 100%);    
    width: 100%;
    height: 193px;
}
.upper_menu img {
    position: relative;
    width: 143px;
    height: 143px;
    left: 102px;
    top: 31px; 
    border-radius: 71.5px;
}
.eclipse {
    box-sizing: border-box;
    border-radius: 71.5px;
    position: absolute;
    width: 143px;
    height: 143px;
    left: 102px;
    top: 31px;
    background: linear-gradient(180deg, rgba(255, 0, 0, 0) 0%, rgba(0, 0, 0, 0.55) 80.21%);
    border: 3px solid #000000;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.navigation {
    margin-left: 20%;
    margin-top: 2%;
    display: flex;
}
.nav-link {
    text-decoration: none;
    white-space: nowrap;
    padding: 30px 45px 30px 30px;
    width: auto;
    height: 63px;
    font-style: normal;
    font-size: 48px;
    color: #D0B6B6;
}

.header{
    display: flex;    
    margin-left: 122px;
    margin-top: 200px;
    
}

.header img{
    width: 864px;
    height: 674px;
    /* border: 1px solid black; */
}
.header h2 {
    font-size: 80px;
}
.header p{
    font-size: 50px;
    margin-top: -70px;
}

.menu{
    display: flex;
}
.menu img{
    /* border: 1px solid #000000; */
    width: 864px;
    height: 674px;
}
.textMenu{
    display: block;
}
.textMenu h2{
    text-align: center;
}
.textMenu p{
    margin-top: -60px;
    font-size: 55px;
    text-align: center;
}
.aboutUs{
    display: block;
}
.aboutUs h2{
    font-size: 96px;
    text-align: center;
}
.aboutUs p{
    font-size: 40px;
    margin-left: 77px;
}
.socseti{
    display: block;
    margin-bottom: -300px;
    z-index: 20px;
}
.socseti h2{
    font-size: 96px;
    text-align: center;
}
.socIMG{
    display: flex;
}
.socIMG img{
    margin-left: 15%;
}
.razdel img{
    width: 100%;
    margin-top: 50px;
    margin-bottom: 50px;
}
.footer{
    z-index: -1;
    position: absolute;
    margin-bottom: 0px;
    width: 100%;
}
.footer img {
    position: absolute;
    margin-bottom: 0px;
    width: 100%;
}
